<div class="car-table" fxLayout="column" fxLayoutGap="10px">
  <cr-loading-bar [isLoading]="isLoading" text="Autos werden geladen"></cr-loading-bar>
  <div [ngStyle]="{'visibility': isLoading ? 'hidden' : 'visible'}" fxLayout="column" fxLayoutGap="10px">

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-form-field [fxFlex]="40">
        <input matInput (keyup)="fuzzySearch($event.target.value)" placeholder="Autos durchsuchen...">
      </mat-form-field>
      <button mat-flat-button color="primary" [routerLink]="['/car', 'new']"><mat-icon>add</mat-icon> Auto hinzufügen</button>
    </div>

    <table mat-table matSort [dataSource]="carList" class="mat-elevation-z2">

      <!-- Header -->
      <ng-container matColumnDef="header">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="8">
          <div fxLayout="row" fxLayoutAlign="start center">
            <h2>{{title}}</h2>
            <div fxFlex></div>
            <mat-icon svgIcon="download" (click)="exportCsv()" matTooltip="CSV Export"></mat-icon>
          </div>
        </th>
      </ng-container>

      <!-- Aktion -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Aktion</th>
        <td mat-cell *matCellDef="let row" fxLayoutGap="5px">
          <mat-icon [routerLink]="['/car', row.idCar]" color="primary" matTooltip="Auto bearbeiten">edit
          </mat-icon>
          <mat-icon (click)="deleteCar(row.idCar)" color="warn" matTooltip="Auto löschen">delete
          </mat-icon>
        </td>
      </ng-container>

      <!-- ID -->
      <ng-container matColumnDef="idCar">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row"> {{row.idCar}} </td>
      </ng-container>

      <!-- Marke -->
      <ng-container matColumnDef="carMake">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Marke</th>
        <td mat-cell *matCellDef="let row"> {{row.carMake.carMake}} </td>
      </ng-container>

      <!-- Typ -->
      <ng-container matColumnDef="carType">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Typ</th>
        <td mat-cell *matCellDef="let row"> {{row.carType.carType}} </td>
      </ng-container>

      <!-- Klasse -->
      <ng-container matColumnDef="carClass">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Klasse</th>
        <td mat-cell *matCellDef="let row"> {{row.carClass.carClass}} </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="carName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row"> {{row.carName}} </td>
      </ng-container>

      <!-- Gebühr -->
      <ng-container matColumnDef="fee">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Gebühr</th>
        <td mat-cell *matCellDef="let row"> {{row.carClass.fee | number:'1.2-2'}} </td>
      </ng-container>

      <!-- Footer -->
      <ng-container matColumnDef="footer">
        <th mat-header-cell *matFooterCellDef [attr.colspan]="8">
          <div style="font-style: italic">Es wurden keine Daten gefunden...</div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['header']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="isFooter ? ['footer'] : []"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25" showFirstLastButtons class="mat-elevation-z2"></mat-paginator>

  </div>

</div>


