<mat-toolbar class="cr-header">
  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" style="cursor:pointer" [routerLink]="['/']">
    <mat-icon>directions_car</mat-icon>
    <div>Car Rent</div>
    <mat-icon *ngIf="!isNavOpen" (click)="isNavOpen = !isNavOpen" matTooltip="Menü aufklappen" matTooltipPosition="right">menu</mat-icon>
    <mat-icon *ngIf="isNavOpen" (click)="isNavOpen = !isNavOpen" matTooltip="Menü zuklappen" matTooltipPosition="right">menu_open</mat-icon>
  </div>&nbsp;
</mat-toolbar>
<cr-table-of-contents></cr-table-of-contents>
<mat-sidenav-container class="cr-container">
  <mat-sidenav mode="side" [(opened)]="isNavOpen" class="cr-sidenav">
    <ng-container *ngFor="let menu of menuList">
      <button *ngIf="menu?.route !== '404'" mat-flat-button [routerLink]="['/' + menu.route]" [ngStyle]="activeMenu.route === menu.route ? activeColor : {}">
        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
          <mat-icon [color]="activeMenu.route === menu.route ? 'primary' : null">{{menu.icon}}</mat-icon>
          <span>{{menu.label}}</span>
        </div>
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="cr-main">
      <div *ngIf="activeMenu && activeMenu.route !== 'home' && activeMenu.route !== '404'" fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="start center">
        <a [routerLink]="['/']">Home</a>
        <mat-icon [routerLink]="['/' + activeMenu.route]">arrow_right</mat-icon>
        <a [routerLink]="['/' + activeMenu.route]">{{activeMenu.label}}</a>
      </div>

      <div *ngIf="activeMenu && activeMenu.route !== 'home' && activeMenu.route !== '404'" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
        <mat-icon [routerLink]="['/']" matTooltip="Zurück">keyboard_backspace</mat-icon>
        <h2>{{activeMenu.label}}</h2>
      </div>

      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="cr-footer">Car Rent - Version {{version}}</mat-toolbar>
